@using ApplicationCore.Entities
@model Web.ViewModels.AddFollowupVM

@{
    ViewData["Title"] = "Add New Followup";
}

<hr />
<div class="row">
    <div class="col-12">
        <div class="box box-success">
            <div class="box-header" style="border-bottom:1px solid black">
                <p>Add New Followup</p>
            </div>
            <div class="box-body">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CustomerId" hidden class="col-sm-2 form-control" />
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 control-label">Client Name/Organization</label>
                        <div class="col-2">
                            <input asp-for="Name" class="col-sm-2 form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label asp-for="EmployeeName" class="control-label col-2">Marketing Officer Name</label>
                        <div class="col-4">
                            <input asp-for="EmployeeName" class="form-control" />
                            <span asp-validation-for="EmployeeName" class="text-danger"></span>
                        </div>

                    </div>

                    <table id="tblPersonDetails" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Contract Person</th>
                                <th>DesignationId</th>
                                <th>Designation</th>
                                <th>Mobile No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ContractDetails)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Designation</td>
                                    <td>@item.MobileNo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Address" class="control-label col-2">Location/Address</label>
                        <div class="col-2">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <label asp-for="CityName" class="control-label col-1">City</label>
                        <div class="col-1">
                            <input asp-for="CityName" class="col-sm-2 form-control" />
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>
                        <label asp-for="AreaName" class="control-label col-1">Area</label>
                        <div class="col-2">
                            <input asp-for="AreaName" class="col-sm-2 form-control" />
                            <span asp-validation-for="AreaName" class="text-danger"></span>
                        </div>
                        <label asp-for="SubAreaName" class="control-label col-1">Sub Area</label>
                        <div class="col-2">
                            <input asp-for="SubAreaName" class="col-sm-2 form-control" />
                            <span asp-validation-for="SubAreaName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NoOfFloor" class="control-label col-3">Building Details a)No Of Floor</label>
                        <div class="col-3">
                            <input asp-for="NoOfFloor" class="form-control" />
                            <span asp-validation-for="NoOfFloor" class="text-danger"></span>
                        </div>
                        <label asp-for="NoOfFlat" class="control-label col-2">No Of Flat</label>
                        <div class="col-4">
                            <input asp-for="NoOfFlat" class="form-control" />
                            <span asp-validation-for="NoOfFlat" class="text-danger"></span>
                        </div>
                    </div>
                    <table id="tblBuldingDetails" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Brand Id</th>
                                <th>Brand Name</th>
                                <th>Quantity</th>
                                <th>Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BuildingDetails)
                            {
                                <tr>
                                    <td>@item.BrandName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Capacity</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <br />
                    <div class="form-group row">
                        <label asp-for="CallingDate" class="col-sm-2 control-label">Calling Date</label>
                        <div class="col-2">
                            <input asp-for="CallingDate" class="col-sm-2 form-control" />
                            <span asp-validation-for="CallingDate" class="text-danger"></span>
                        </div>
                        <label asp-for="ServiceTypeId" class="col-sm-2 control-label">Service Name</label>
                        <div class="col-2">
                            <select asp-for="ServiceTypeId" class="col-sm-2 form-control">
                                <option value="-1">Select Service Type</option>
                                @foreach (var item in ViewBag.ServiceList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
                        </div>
                        <label asp-for="CustomerDoTheWorkingMonth" class="control-label col-2">Working Month</label>
                        <div class="col-sm-2">
                            <select asp-for="CustomerDoTheWorkingMonth" class="col-sm-2 form-control">
                                <option value="-1">Select Working Month</option>
                                @foreach (var item in ViewBag.MonthList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CustomerDoTheWorkingMonth" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="OfferAmount" class="control-label col-2">Marketing Offer Amount</label>
                        <div class="col-2">
                            <input asp-for="OfferAmount" class="form-control" />
                            <span asp-validation-for="OfferAmount" class="text-danger"></span>
                        </div>
                        <label asp-for="AgreeAmount" class="control-label col-2">Agree/Booking Amount</label>
                        <div class="col-2">
                            <input asp-for="AgreeAmount" class="form-control" />
                            <span asp-validation-for="AgreeAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Remarks" class="control-label col-2"></label>
                        <div class="col-2">
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                        <label asp-for="PositiveOrNegative" class="control-label col-2"></label>
                        <div class="col-2">
                            <select asp-for="PositiveOrNegative" class="form-control">
                                <option value="Positive">Positive</option>
                                <option value="Negative">Negative</option>
                            </select>
                            <span asp-validation-for="PositiveOrNegative" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="DiscussionDetailsNote" class="control-label col-2">Customer Discussion Details Note</label>
                        <div class="col-4">
                            <textarea asp-for="DiscussionDetailsNote" class="form-control"></textarea>
                            <span asp-validation-for="DiscussionDetailsNote" class="text-danger"></span>
                        </div>
                        <label asp-for="MarketingNextPlan" class="control-label col-2">Marketing Next Plan</label>
                        <div class="col-4">
                            <input asp-for="MarketingNextPlan" class="form-control" />
                            <span asp-validation-for="MarketingNextPlan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FollowupCallDate" class="control-label col-2">Follow-up Call Date</label>
                        <div class="col-4">
                            <input asp-for="FollowupCallDate" class="form-control" />
                            <span asp-validation-for="FollowupCallDate" class="text-danger"></span>
                        </div>
                        <label asp-for="Status" class="control-label col-2"></label>
                        <div class="col-4">
                            <select asp-for="Status" class="form-control">
                                <option value="Pending">Pending</option>
                                <option value="Confirmed">Confirmed</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" asp-action="AddNewFollowup" asp-controller="Followup" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function() {
            //alert("JS Working");
            //$('#CallingDate').datepicker(
            //    {
            //        dateFormat : 'dd/mm/yy',
            //        changeMonth : true ,
            //        changeYear : true

            //    });
            //$('#FollowupCallDate').datepicker({
            //    dateFormat : 'dd/mm/yy',
            //    changeMonth : true,
            //    changeYear : true
            //});
        });
    </script>
}
