@model IEnumerable<Web.ViewModels.DailyFollowupListVM>

@{
    ViewData["Title"] = "Daily Followup Customer List";
}

<div class="row">
    <div class="col-12">
        <div class="box box-success">
            <div class="box-header">
                <h5><i class="fa fa-list-ul"></i> Daily Followup Customer List</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AreaName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubAreaName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeName)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubAreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "GetFollowupsByCustId", new {  id=item.CustomerId }) |
                                @Html.ActionLink("Add New Followup", "AddNewFollowup", new {  id=item.CustomerId  })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
