@model BuildingDetails

@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Update Contract Details Information";
    var userid = "";
    if (User.Identity.IsAuthenticated)
    {
        userid = userManager.GetUserId(User);
    }
}

<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 text-center">Update Building Details</h4>
                <hr />
                <form asp-action="UpdateBuildingDetails" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ModifiedBy" value="@userid" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />

                    <div class="col-12">
                        <div class="form-floating">
                            <select asp-for="BrandId" class="form-control">
                                <option value="-1">Select Brand</option>
                                @foreach (var data in @ViewBag.BrandList)
                                {
                                    <option value="@data.Id">@data.Name</option>
                                }
                            </select>
                            <label for="BrandId">Brand</label>
                        </div>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="form-floating">
                            <input class="form-control" asp-for="Quantity" placeholder="Quantity" />
                            <label for="Quantity">Quantity</label>
                        </div>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input class="form-control" asp-for="Capacity" placeholder="Capacity" />
                            <label for="Capacity">Capacity</label>
                        </div>
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="text-center mt-3">
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                            @*<a class="btn btn-primary btn-lg" asp-controller="Customer" asp-action="UpdateCustomerDetails" asp-route-customerId="@ViewBag.CustomerId">Back</a>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*
<div class="row">
    <div class="col-12">
        <div class="box box-success">
            <div class="box-header" style="border-bottom:1px solid black">
                <p>Update Contract Details Information</p>
            </div>
            <div class="box-body">
                <form asp-action="UpdateBuildingDetails">
                    <div asp-validation-summary="ModelOnly" class="text-danger" id="validationSummary"></div>
                    <input type="hidden" asp-for="ModifiedBy" value="@userid" />
                    <input type="hidden" asp-for="ModifiedDate" value="@Model.ModifiedDate" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />

                    <div class="form-group row">
                        <label asp-for="BrandId" class="control-label col-2"></label>
                        <div class="col-3">
                            <select asp-for="BrandId" class="form-control">
                                @foreach (var data in @ViewBag.BrandList)
                                {
                                    <option value="@data.Id">@data.Name</option>
                                }
                            </select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Quantity" class="control-label col-2"></label>
                        <div class="col-3">
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Capacity" class="control-label col-2"></label>
                        <div class="col-3">
                            <input asp-for="Capacity" class="form-control" />
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group offset-3 mt-1">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
