@model DateRangeVM
@{
    ViewData["Title"] = "MIS Report";
}
<div class="row mb-4">
    <div class="col-lg-3 col-md-3 col-sm-3 col-2"></div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 bg-white">
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="display: flex;justify-content: space-between;margin-left: 18px;">
                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                    <h3 class=" pl-1 text-info text-center" style="font-weight:600"> MIS Report</h3>
                </div>
            </div>
        </div>
        <hr style="margin: 0.1rem 0;" />
        <form>
            <div class="form-group row pt-1 pb-3" style="margin-left: 38px;margin-right:20px;opacity:1 !important;">
                <div class="col-lg-6 col-md-6 col-sm-12 col-6">
                    <div>
                        <label for="DateFrom" class="form-label">Date From</label>
                        <input asp-for="DateFrom" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-6">
                    <div>
                        <label for="DateTo" class="form-label">Date To</label>
                        <input asp-for="DateTo" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group row pb-3" style="margin-left: 38px;margin-right:20px;opacity:1 !important;">
                <div class="col-lg-12 col-md-6 col-sm-12 col-6">
                    <div>
                        <label for="EmployeeId" class="form-label">Select Mpo</label>
                        <select asp-for="EmployeeId" class="form-control" title="searchableDropdown">
                            <option value="-1">Please Select Mpo</option>
                            @foreach (var data in ViewBag.EmployeeList)
                            {
                                <option value="@data.Id">@data.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div id="accordion" style="margin: 10px 23px 20px 42px">
                <div class="report">
                    <div class="report-header">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                            Customer Releated Reports
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                        <div class="report-body">
                            <div class="d-grid gap-1">
                                <button type="submit" id="btnNewCustomerList" class="btn btn-primary btn-block">New Customer List</button>
                                <button type="submit" id="btnContactWiseNewCustomerList" class="btn btn-primary btn-block">Contact Wise New Customer List</button>
                                <button type="submit" id="btnStatusWiseNewCustomerList" class="btn btn-primary ml-2">Status Wise New Customer List</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report">
                    <div class="report-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                            Followup Releated Reports
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                        <div class="report-body">
                            <div class="d-grid gap-1">
                                <button type="submit" id="btnShowDoneFollowupList" class="btn btn-primary ml-2">Show Followup Done List - Details</button>
                                <button type="submit" id="btnStatusWiseDoneFollowupList" class="btn btn-primary ml-2">Show Followup Done List - Status Wise</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report">
                    <div class="report-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                            Booking Releated Reports
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                        <div class="report-body">
                            <div class="d-grid gap-1">
                                <button type="submit" id="btnEntryDateWiseBookingList" class="btn btn-primary ml-2">Show Booking List (Entry Date Wise)</button>
                                <button type="submit" id="btnShiftedBookingList" class="btn btn-primary ml-2">Show Booking Shifting List</button>
                                <button type="submit" id="btnCancelBookingList" class="btn btn-primary ml-2">Show Booking Cancel List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {


            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!

            var currentDate = today.getFullYear() + "-" + mm + "-" + dd;
            $('#DateFrom').val(currentDate);
            $('#DateTo').val(currentDate);
            var datefrom = currentDate;
            var dateto = currentDate;
            var sumtotal = $('#sumTotal');

            var resultDiv = $('#resultDiv');
            var resultdatatableDiv = $('#resultdataTableDiv');

            var resultdataTablebody = $('#resultdataTable tbody');
            var resultdataTableHead = $('#resultdataTable thead');

            var resultbody = $('#resultTable tbody');
            var resultHead = $('#resultTable thead');

            $('#btnNewCustomerList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                var mpoId = $('#EmployeeId').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ShowNewCustomerList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "&EmployeeId="+ mpoId +"";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });

            });

            $('#btnContactWiseNewCustomerList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ContactWiseNewCustomerList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });
            });


            $('#btnStatusWiseNewCustomerList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/StatusWiseNewCustomerList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });
            });

            $('#btnStatusWiseDoneFollowupList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/StatusWiseFollowupDoneList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });
            });

            $('#btnShowDoneFollowupList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ShowFollowupDoneList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });

                //var datefrom = $('#ReportDateFrom').val();
                //var dateto = $('#ReportDateTo').val();
                //resultdatatableDiv.hide();
                //resultDiv.show();
                //$.ajax({
                //    type: "GET",
                //    url: "/MISReport/GetAllFollowupDoneListByDate",
                //    data: { dateFrom: datefrom, dateTo: dateto },
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //        resultbody.empty();
                //        resultHead.empty();
                //        resultHead.append('<tr><th>Followup Date</th><th>Mobile No</th><th>Customer Name</th><th>Address</th><th>Contact</th><th>Category</th><th>Reference</th><th>Marketing Name</th><th>Status</th><th>Action</th></tr>');
                //        $(result).each(function (index, data) {
                //            var linkcustomerDetails = '<a href="/Followup/GetFollowupsByCustId?customerId=' + data.customerId + '&followupId=' + data.followupId + '">Details</a>';
                //            resultbody.append('<tr><td>' + data.followupDate + '</td><td>' + data.mobileNo + '</td><td>' + data.customerName + '</td><td>' + data.address + '</td><td>' +
                //                data.contactName + '</td><td>' + data.categoryName + '</td><td>' + data.referenceBy + '</td><td>' +
                //                data.employeeName + '</td><td>' + data.status + '</td><td>' + linkcustomerDetails + '</td></tr>');
                //        });
                //        resultbody.append('<tr><td>Total Count </td><td>' + $(result).length + '</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>');
                //        sumtotal.html('Total Followups : - ' + result.length);
                //        //let table = new DataTable('#resultTable');
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        // handle error
                //    }
                //});
            });

            $('#btnEntryDateWiseBookingList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ShowEntryDateWiseBookingList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });
                //var dateFrom = $('#ReportDateFrom').val();
                //var dateTo = $('#ReportDateTo').val();
                //resultdatatableDiv.hide();
                //resultDiv.show();
                //var totalbooked = 0;
                //$.ajax({
                //    type: "GET",
                //    url: "/MISReport/GetEntryDateWiseBookingList",
                //    data: { dateFrom: dateFrom, dateTo: dateTo },
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //        var bookingAmt = 0;
                //        resultbody.empty();
                //        resultHead.empty();
                //        resultHead.append('<tr><th>Entry Date</th><th>Working Date</th><th>Team</th><th>Shift</th><th>Status</th><th>Mobile No</th><th>Name</th><th>Address</th><th>Amount</th><th>Note</th></tr>');
                //        $(result).each(function (index, data) {
                //            var linkShiftOrCancelBooking = "";
                //            var trDate = "";
                //            var bookingNote = "";
                //            if (data.bookingNote == null) {
                //                bookingNote = "";
                //            } else {
                //                bookingNote = data.bookingNote;
                //            }

                //            if (data.trDate == null) {
                //                trDate = ""
                //            } else {
                //                trDate = data.trDate.substring(0, 10);
                //            }
                //            //EntryDate
                //            if (data.name != "") {
                //                totalbooked += 1;
                //                bookingAmt += parseInt(data.agreeAmount);
                //                linkShiftOrCancelBooking = '<a href="/Followup/GetFollowupsByCustId?customerId=' + data.customerId + '&followupId=' + data.followupId + '" target="_blank">Details</a>';
                //                linkShiftOrCancelBooking += ' | ' + '<a href="/Booking/ShiftBooking?bookingId=' + data.bookingId + '">Shift</a>';
                //                linkShiftOrCancelBooking += ' | ' + '<a href="/Booking/CancelBooking?bookingId=' + data.bookingId + '">Cancel</a>';
                //            }
                //            resultbody.append('<tr><td>' + data.entryDate.substring(0, 10) + '</td><td>' + trDate + '</td><td>' + data.teamName + '</td><td>' +
                //                data.shiftName + '</td><td>' + data.status + '</td><td>' + data.mobileNo + '</td><td>' +
                //                data.name + '</td><td>' + data.address + '</td><td>'
                //                + data.agreeAmount + '</td><td>' + bookingNote + '</td></tr>');
                //        });
                //        resultbody.append('<tr><td>Total Count</td><td>' + $(result).length + '</td><td></td><td></td><td></td><td></td><td></td><td>Total Amount </td><td>'
                //            + Math.round(bookingAmt) + '</td><td></td></tr>');
                //        sumtotal.html('Total Count : ' + $(result).length + ' Total Booking Amount : - ' + Math.round(bookingAmt));

                //        //let table = new DataTable('#resultTable');
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        // handle error
                //    }
                //});
            });


            $('#btnCancelBookingList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ShowBookingCancelList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });

                //var dateFrom = $('#ReportDateFrom').val();
                //var dateTo = $('#ReportDateTo').val();
                //resultdatatableDiv.hide();
                //resultDiv.show();
                //var totalbooked = 0;
                //var bookingAmt = 0;
                //$.ajax({
                //    type: "GET",
                //    url: "/MISReport/GetBookingCancelList",
                //    data: { dateFrom: dateFrom, dateTo: dateTo },
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //        console.log(result);
                //        var bookingAmt = 0;
                //        resultbody.empty();
                //        resultHead.empty();
                //        resultHead.append('<tr><th>Cancel Date</th><th>Working Date</th><th>Team</th><th>Shift</th><th>Status</th><th>Mobile No</th><th>Name</th><th>Address</th><th>Amount</th><th>Note</th></tr>');
                //        $(result).each(function (index, data) {
                //            var linkShiftOrCancelBooking = "";
                //            var trDate = "";
                //            var bookingNote = "";
                //            var modifiedDate = "";

                //            if (data.bookingNote == null) {
                //                bookingNote = "";
                //            } else {
                //                bookingNote = data.bookingNote;
                //            }

                //            if (data.trDate == null) {
                //                trDate = ""
                //            } else {
                //                trDate = data.trDate.substring(0, 10);
                //            }

                //            if (data.modifiedDate == null) {
                //                modifiedDate = ""
                //            } else {
                //                modifiedDate = data.modifiedDate.substring(0, 10);
                //            }

                //            if (data.name != "") {
                //                totalbooked += 1;
                //                bookingAmt += parseInt(data.agreeAmount);
                //            }
                //            resultbody.append('<tr><td>' + modifiedDate + '</td><td>' + trDate + '</td><td>' + data.teamName + '</td><td>' +
                //                data.shiftName + '</td><td>' + data.status + '</td><td>' + data.mobileNo + '</td><td>' +
                //                data.name + '</td><td>' + data.address + '</td><td>'
                //                + data.agreeAmount + '</td><td>' + bookingNote + '</td></tr>');
                //        });
                //        resultbody.append('<tr><td>Total Count</td><td>' + $(result).length + '</td><td></td><td></td><td></td><td></td><td></td><td>Total Cancel Amount </td><td>'
                //            + Math.round(bookingAmt) + '</td><td></td></tr>');
                //        sumtotal.html('Total Count : ' + $(result).length + ' Total Cancel Amount : - ' + Math.round(bookingAmt));
                //        //let table = new DataTable('#resultTable');
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        // handle error
                //    }
                //});
            });


            $('#btnShiftedBookingList').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSuccessData","MISReport")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = "/MISReport/ShowBookingShiftingList?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });

                //var dateFrom = $('#ReportDateFrom').val();
                //var dateTo = $('#ReportDateTo').val();
                //resultdatatableDiv.hide();
                //resultDiv.show();
                //var totalbooked = 0;
                //var bookingAmt = 0;
                //$.ajax({
                //    type: "GET",
                //    url: "/MISReport/GetBookingShiftingList",
                //    data: { dateFrom: dateFrom, dateTo: dateTo },
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //        resultbody.empty();
                //        resultHead.empty();
                //        resultHead.append('<tr><th>Shift Date</th><th>Working Date</th><th>Team</th><th>Shift</th><th>Status</th><th>Mobile No</th><th>Name</th><th>Address</th><th>Amount</th><th>Note</th></tr>');
                //        $(result).each(function (index, data) {
                //            var linkShiftOrCancelBooking = "";
                //            var trDate = "";
                //            var modifiedDate = "";
                //            var bookingNote = "";
                //            if (data.bookingNote == null) {
                //                bookingNote = "";
                //            } else {
                //                bookingNote = data.bookingNote;
                //            }

                //            if (data.trDate == null) {
                //                trDate = ""
                //            } else {
                //                trDate = data.trDate.substring(0, 10);
                //            }

                //            if (data.modifiedDate == null) {
                //                modifiedDate = ""
                //            } else {
                //                modifiedDate = data.modifiedDate.substring(0, 10);
                //            }

                //            if (data.name != "") {
                //                totalbooked += 1;
                //                bookingAmt += parseInt(data.agreeAmount);
                //            }
                //            resultbody.append('<tr><td>' + modifiedDate + '</td><td>' + trDate + '</td><td>' + data.teamName + '</td><td>' +
                //                data.shiftName + '</td><td>' + data.status + '</td><td>' + data.mobileNo + '</td><td>' +
                //                data.name + '</td><td>' + data.address + '</td><td>'
                //                + data.agreeAmount + '</td><td>' + bookingNote + '</td></tr>');
                //        });
                //        resultbody.append('<tr><td>Total Count</td><td>' + $(result).length + '</td><td></td><td></td><td></td><td></td><td></td><td>Total Amount </td><td>'
                //            + Math.round(bookingAmt) + '</td><td></td></tr>');
                //        sumtotal.html('Total Count : ' + $(result).length + ' Total Shifted Amount : - ' + Math.round(bookingAmt));
                //        //let table = new DataTable('#resultTable');
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        // handle error
                //    }
                //});
            });


        });
    </script>
}
