@using ApplicationCore.Entities
@model Web.ViewModels.CustomerFollowupVM

@{
    ViewData["Title"] = "Customer Followup";
}

<div class="row">
    <div class="col-12">
        <div class="box box-success">
            <div class="box-header" style="border-bottom:1px solid black">
                <p>Add Customer with a Followup</p>
            </div>
            <div class="box-body">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="CallingDate" class="col-2 control-label">Calling Date</label>
                        <div class="col-2">
                            <input asp-for="CallingDate" class="form-control" />
                            <span asp-validation-for="CallingDate" class="text-danger"></span>
                        </div>
                        <label asp-for="ServiceTypeId" class="col-2 control-label">Service Name</label>
                        <div class="col-2">
                            <select asp-for="ServiceTypeId" class="form-control">
                                <option value="-1">Select Service Type</option>
                                @foreach (var item in ViewBag.ServiceList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
                        </div>

                        <label asp-for="Name" class="col-2 control-label">Client Name/Organization</label>
                        <div class="col-2">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ContractPerson" class="col-2 control-label">Contract Person</label>
                        <div class="col-2">
                            <input asp-for="ContractPerson" class="form-control" />
                            <span asp-validation-for="ContractPerson" class="text-danger"></span>
                        </div>
                        <label asp-for="DesignationId" class="col-2 control-label">Designation</label>
                        <div class="col-2">
                            <select asp-for="DesignationId" class="form-control">
                                <option value="-1">Select Designation</option>
                                @foreach (var item in ViewBag.DesignationList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="DesignationId" class="text-danger"></span>
                        </div>
                        <label asp-for="MobileNo" class="control-label col-1">Mobile No</label>
                        <div class="col-2">
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="col-1">
                            <input type="button" id="btnAddPerson" value="Add" class="btn btn-success" />
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Contract Person</th>
                                <th class="none">DesignationId</th>
                                <th>Designation</th>
                                <th>Mobile No</th>
                            </tr>
                        </thead>
                        <tbody id="tblPersonDetails"></tbody>
                    </table>
                    <br />
                    <div class="form-group row">
                        <label asp-for="OfferAmount" class="control-label col-2">Marketing Offer Amount</label>
                        <div class="col-2">
                            <input asp-for="OfferAmount" class="form-control" />
                            <span asp-validation-for="OfferAmount" class="text-danger"></span>
                        </div>
                        <label asp-for="AgreeAmount" class="control-label col-2">Agree/Booking Amount</label>
                        <div class="col-2">
                            <input asp-for="AgreeAmount" class="form-control" />
                            <span asp-validation-for="AgreeAmount" class="text-danger"></span>
                        </div>
                        <label asp-for="CustomerDoTheWorkingMonth" class="control-label col-2">Working Month</label>
                        <div class="col-2">
                            <select asp-for="CustomerDoTheWorkingMonth" class="form-control">
                                <option value="-1">Select Working Month</option>
                                @foreach (var item in ViewBag.MonthList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CustomerDoTheWorkingMonth" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="control-label col-2">Location/Address</label>
                        <div class="col-2">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <label asp-for="CityId" class="control-label col-1">City</label>
                        <div class="col-1">
                            <select asp-for="CityId" class="form-control">
                                <option value="-1">Select City</option>
                                @foreach (var data in ViewBag.CityList)
                                {
                                    <option value="@data.Id">@data.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                        <label asp-for="AreaId" class="control-label col-1">Area</label>
                        <div class="col-2">
                            <select asp-for="AreaId" class="form-control">
                                <option value="-1">Select Area</option>
                            </select>
                            <span asp-validation-for="AreaId" class="text-danger"></span>
                        </div>
                        <label asp-for="SubAreaId" class="control-label col-1">Sub Area</label>
                        <div class="col-2">
                            <select asp-for="SubAreaId" class="form-control">
                                <option value="-1">Select Sub Area</option>
                            </select>
                            <span asp-validation-for="SubAreaId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Remarks" class="control-label col-2"></label>
                        <div class="col-2">
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                        <label asp-for="ContactId" class="control-label col-2">Contact</label>
                        <div class="col-2">
                            <select asp-for="ContactId" class="form-control">
                                <option value="-1">Select Contact</option>
                                @foreach (var data in ViewBag.ContactList)
                                {
                                    <option value="@data.Id">@data.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ContactId" class="text-danger"></span>
                        </div>
                        <label asp-for="PositiveOrNegative" class="control-label col-2"></label>
                        <div class="col-2">
                            <select asp-for="PositiveOrNegative" class="form-control">
                                <option value="Positive">Positive</option>
                                <option value="Negative">Negative</option>
                            </select>
                            <span asp-validation-for="PositiveOrNegative" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="NoOfFloor" class="control-label col-3">Building Details a)No Of Floor</label>
                        <div class="col-3">
                            <input asp-for="NoOfFloor" class="form-control" />
                            <span asp-validation-for="NoOfFloor" class="text-danger"></span>
                        </div>
                        <label asp-for="NoOfFlat" class="control-label col-2">No Of Flat</label>
                        <div class="col-4">
                            <input asp-for="NoOfFlat" class="form-control" />
                            <span asp-validation-for="NoOfFlat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BrandId" class="control-label col-2">Building Details b)Brand</label>
                        <div class="col-3">
                            <select asp-for="BrandId" class="form-control">
                                <option value="-1">Select Brand</option>
                                @foreach (var item in ViewBag.BrandList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <label asp-for="Quantity" class="control-label col-1">Quantity</label>
                        <div class="col-2">
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <label asp-for="Capacity" class="control-label col-1">Capacity</label>
                        <div class="col-2">
                            <input asp-for="Capacity" class="form-control" />
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>
                        <div class="col-1">
                            <input type="button" id="btnAddBuildingDetails" value="Add" class="btn btn-success" />
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="none">Brand Id</th>
                                <th>Brand Name</th>
                                <th>Quantity</th>
                                <th>Capacity</th>
                            </tr>
                        </thead>
                        <tbody id="tblBuldingDetails"></tbody>
                    </table>

                    <div class="form-group row">
                        <label asp-for="DiscussionDetailsNote" class="control-label col-2">Customer Discussion Details Note</label>
                        <div class="col-4">
                            <textarea asp-for="DiscussionDetailsNote" class="form-control"></textarea>
                            <span asp-validation-for="DiscussionDetailsNote" class="text-danger"></span>
                        </div>
                        <label asp-for="MarketingNextPlan" class="control-label col-2">Marketing Next Plan</label>
                        <div class="col-4">
                            <input asp-for="MarketingNextPlan" class="form-control" />
                            <span asp-validation-for="MarketingNextPlan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FollowupCallDate" class="control-label col-2">Follow-up Call Date</label>
                        <div class="col-4">
                            <input asp-for="FollowupCallDate" class="form-control" />
                            <span asp-validation-for="FollowupCallDate" class="text-danger"></span>
                        </div>
                        <label asp-for="EmployeeId" class="control-label col-2">Marketing Officer Name</label>
                        <div class="col-4">
                            <select asp-for="EmployeeId" class="form-control">
                                <option value="-1">Select Mpo</option>
                                @foreach (var data in ViewBag.MpoList)
                                {
                                    <option value="@data.Id">@data.Name</option>
                                }
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Status" class="control-label col-2"></label>
                        <div class="col-4">
                            <select asp-for="Status" class="form-control">
                                <option value="Pending">Pending</option>
                                <option value="Confirmed">Confirmed</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="button" value="Save" id="SaveCustomerAndFollowup" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAddPerson').click(function () {
                var contractPerson = $('#ContractPerson').val();
                var designationId = $('#DesignationId').val();
                var designationName = $('#DesignationId option:selected').text();
                var mobileNo = $('#MobileNo').val();
                var contractTable = $('#tblPersonDetails');
                contractTable.append('<tr><td>' + contractPerson + '</td><td class="none">' + designationId + '</td><td>'
                    + designationName + '</td><td>' + mobileNo + '</td></tr>');
                $('#MobileNo').val("");
                $('#ContractPerson').val("");
            });

            $('#btnAddBuildingDetails').click(function () {
                var brandId = $('#BrandId').val();
                var brandName = $('#BrandId option:selected').text();
                var quantity = $('#Quantity').val();
                var capacity = $('#Capacity').val();
                var buildingDetailsTable = $('#tblBuldingDetails');
                buildingDetailsTable.append('<tr><td class="none">' + brandId + '</td><td>' + brandName + '</td><td>'
                    + quantity + '</td><td>' + capacity + '</td></tr>');
                $('#BrandId').val("-1");
                $('#Quantity').val("");
                $('#Capacity').val("");

            });

            var cityId = $('#CityId');
            var areaId = $('#AreaId');
            var subAreaId = $('#SubAreaId');

            $('#CityId').change(function () {
                if ($(this).val() == "-1") {
                    areaId.empty();
                    subAreaId.empty();
                    $('#AreaId').prepend($('<option>', { value: '-1', text: 'Select Area' }));
                    $('#SubAreaId').prepend($('<option>', { value: '-1', text: 'Select Sub Area' }));
                    areaId.prop('disable', true);
                    subAreaId.prop('disable', true);
                } else {
                    areaId.empty();
                    subAreaId.empty();
                    $('#AreaId').prepend($('<option>', { value: '-1', text: 'Select Area' }));
                    $('#SubAreaId').prepend($('<option>', { value: '-1', text: 'Select Sub Area' }));
                    areaId.prop('disable', false);
                    subAreaId.prop('disable', true);
                    $.ajax({
                        url: '@Url.Action("GetAreaByCityId")',
                        type: "GET",
                        data: { id: $(this).val() },
                        dataType: 'json',
                        success: function (response) {
                            areaId.prop('disable', false),
                                $.each(response, function (index, item) {
                                    areaId.append($("<option>", {
                                        value: item.id,
                                        text: item.name
                                    }));
                                });
                        }
                    });
                }
                //}
            });
            $('#AreaId').change(function () {
                if ($(this).val() == "-1") {
                    subAreaId.empty();
                    $('#SubAreaId').prepend($('<option>', { value: '-1', text: 'Select Sub Area' }));
                    subAreaId.prop('disable', true);
                } else {
                    subAreaId.empty();
                    $('#SubAreaId').prepend($('<option>', { value: '-1', text: 'Select Sub Area' }));
                    subAreaId.prop('disable', true);
                    $.ajax({
                        url: '@Url.Action("GetSubAreaByAreaId")',
                        type: "GET",
                        data: { id: $(this).val() },
                        dataType: 'json',
                        success: function (response) {
                            areaId.prop('disable', false),
                                $.each(response, function (index, item) {
                                    subAreaId.append($("<option>", {
                                        value: item.id,
                                        text: item.name
                                    }));
                                });
                        }
                    });
                }
            });

            $('#SaveCustomerAndFollowup').click(function () {
                var customers = [];
                var buildings = [];

                var tContact = $("table #tblPersonDetails");
                tContact.find('tr').each(function () {
                    tContactInfo = $(this).find('td').text();
                    if (tContactInfo != '') {
                        var $ctd = $(this).find('td'),
                            tcPerson = $ctd.eq(0).text(),
                            tcDesignationId = $ctd.eq(1).text(),
                            tcDesignation = $ctd.eq(2).text(),
                            tcMobile = $ctd.eq(3).text();
                        var Customer = {
                            Name: tcPerson,
                            DesignationId: tcDesignationId,
                            MobileNo: tcMobile,
                        };
                        customers.push(Customer);
                    }
                });

                var tblBuilding = $("table #tblBuldingDetails");
                tblBuilding.find('tr').each(function () {
                    tBuldingInfo = $(this).find('td').text();
                    if (tBuldingInfo != '') {
                        var $btd = $(this).find('td'),
                            tbId = $btd.eq(0).text(),
                            tbName = $btd.eq(1).text(),
                            tbQuantity = $btd.eq(2).text(),
                            tbCapacity = $btd.eq(3).text();
                        var Building = {
                            BrandId: tbId,
                            Quantity: tbQuantity,
                            Capacity: tbCapacity,
                        };
                        buildings.push(Building);
                    }
                });

                var followup = {
                    CallingDate: $('#CallingDate').val(),
                    ServiceTypeId: $('#ServiceTypeId option:selected').val(),
                    Name: $('#Name').val(),
                    OfferAmount: $('#OfferAmount').val(),
                    AgreeAmount: $('#AgreeAmount').val(),
                    CustomerDoTheWorkingMonth: $('#CustomerDoTheWorkingMonth option:selected').val(),
                    Address: $('#Address').val(),
                    SubAreaId: $('#SubAreaId option:selected').val(),
                    Remarks: $('#Remarks').val(),
                    ContactId: $('#ContactId option:selected').val(),
                    PositiveOrNegative: $('#PositiveOrNegative option:selected').val(),
                    NoOfFloor: $('#NoOfFloor').val(),
                    NoOfFlat: $('#NoOfFlat').val(),
                    DiscussionDetailsNote: $('#DiscussionDetailsNote').val(),
                    MarketingNextPlan: $('#MarketingNextPlan').val(),
                    FollowupCallDate: $('#FollowupCallDate').val(),
                    EmployeeId: $('#EmployeeId option:selected').val(),
                    Status: $('#Status option:selected').val(),
                }

                var model = {
                    "CustomerFollowup": followup,
                    "ContractDetails": customers,
                    "BuildingDetails": buildings,
                }

                $.ajax({
                    type: "post",
                    url: "/CustomerFollowup/Save",
                    data: model,
                    datatype: "json",
                    //cache: false,
                    success: function (data) {
                        //alert("You Multiple Data Passed Successfully");
                        //alert(data.redirecturl);
                        window.location.href = data.redirecturl;
                        //window.location.replace(data.redirecturl);
                    },
                    error: function (xhr) {
                        alert('No Valid Data');
                    }
                });
            });
        });
    </script>
}
